body {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
}

.width-wrapper {
    max-width: 1000px;
}

.bold, .card-top {
    font-weight: bold;
}

/* First part of website */

.header-container {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    background: #1F2937;
    color: white;
    padding: 10px 50px 100px 50px;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header-middle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    min-height: 200px;
    width: 100%;
}

h1 {
    margin: 0;
}

.header-content,
.header-image {
    flex: 1;
}

.header-image {
    background-color: #6D747D;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Second part of website */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    margin: 50px 0px 50px 0px;
}

.card-item {
    padding-bottom: 100px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    padding: 0px 20px;
}

/* Third part of website */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote {
    margin: 100px 50px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    font-size: 25px;
    font-style: normal;
    display: flex;
    justify-content: flex-end;
}

/* Fourth part of website */

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    margin: 100px 0px;
    background-color: #3882F6;
    border-radius: 8px;
    width: 100%;
}

.fourth-content {
    padding-right: 200px;
    color: #ddd;
}

button {
    border:2px solid #ddd;
    border-radius: 8px;
    color:#ddd;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #3882F6;
    text-decoration: none;
    cursor: pointer;
}

/* Fifth part of website */

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1F2937;
    color: #ddd;
    padding: 30px;
}