body {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
}

.width-wrapper {
    max-width: 1000px;
}

.bold, .card-top {
    font-weight: bold;
}

.header-container {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    background: #1F2937;
    color: white;
    padding: 10px 0px 100px 0px;
    border: 1px solid #ddd;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    border: 1px solid #ddd;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header-middle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border: 1px solid #ddd;
    min-height: 200px;
    width: 100%;
}

h1 {
    margin: 0;
}

.header-content,
.header-image {
    flex: 1;
}

.header-image {
    background-color: #6D747D;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    margin: 50px 0px 50px 0px;
}

.card-item {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}